*{
  background-color: rgb(30, 29, 29);
  border: 0px;
  padding: 0px;
}

.main { /*Container principal com tudo*/
  margin-top: 8vh;
  border: 1px white solid;
  height: 85vh;
  width: 35vw;
  margin-left: 32vw;
  display: flex;
  flex-direction: column;
  
}
